        .all {
            background-image: url('../../../public/images/map.png');
            width: 100%;
            align-items: center;
            background-size: cover;
            min-height: 1896px;
            color: white;
        }