                    .all {
                        margin: 0;
                    }
                    
                    .name {
                        border: 2px solid black;
                        margin: 0;
                    }
                    
                    .start {
                        font-size: 120px;
                        margin-left: 22px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                    
                    .end {
                        font-size: 120px;
                        margin: -60px 0px 0px 22px;
                    }
                    
                    .a {
                        font-size: 30px;
                        margin: 0px;
                        background-color: black;
                        color: white;
                        padding: 20px;
                        display: flex;
                        align-items: flex-start;
                        border-right: 2px solid black;
                        border-left: 2px solid black;
                        flex-direction: column;
                    }
                    
                    .a:hover {
                        font-size: 30px;
                        margin: 0px;
                        background-color: white;
                        color: black;
                        padding: 20px;
                        display: flex;
                        align-items: flex-start;
                        border-right: 2px solid black;
                        border-left: 2px solid black;
                    }
                    
                    .p {
                        margin: 0;
                        display: flex;
                        align-items: center;
                    }
                    
                    .image {
                        width: 100px;
                        margin-left: 200px;
                        height: 30px;
                    }